<div class="new_question">
  <h1> <%= @survey.name %> </h1>
  <% if current_user.id == @survey.user_id %>
    <h2>Create a new survey!</h2>

    <form class="add_question" method="post" action="/survey/<%= @survey.id %>" >
      <input type="text" name="question" placeholder="Enter Question You Wish to Add!" >
      <input type="hidden" name="ans1" value="Yes!">
      <input type="hidden" name="ans2" value="No!">
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">
      <input type="submit" value="Add Question">
    </form>
  <% end %>
</div>

<div class="list_questions">
  <form action="/survey/<%= @survey.id %>/results" method="post">

    <% @questions.each do |question|%>
      <%= erb :"survey/_list_question", locals:{ question: question} %>
    <% end %>

    <% if current_user.id != @survey.user_id %>
      <input type="submit" value="Submit Survey" >
    <% end %>

  </form>

</div>



